.footer {
  margin-top: 100px;
}

.footer .copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #2A2A2D;
}

.copyright p {
  font-size: 0.8em;
  opacity: 0.4;
}